@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "ChollaBold";
    src: url("Fonts/ChollaSlabBold.ttf")
}

@font-face {
    font-family: "Nerko";
    src: url("Fonts/NerkoOne-Regular.ttf")
}

@font-face {
    font-family: "Distorter";
    src: url("Fonts/DistorterDemoRegular.ttf")
}




.adminH2 {
    font-size: xx-large;
    border-bottom: 3px solid steelblue;
    margin-bottom: 1rem;
}

#uniTitle  p{
    font-size: 1.5em;
    font-family: "Distorter";
    margin-right: 20px;
}



#nav-bar{
    font-family: "Times New Roman", sans-serif;
    font-size: xx-large;
}

.headerFont {
    font-family: "Times New Roman", sans-serif;
}


body{
    width: 100%;
    min-height: 10vh;
    background-color: white;

}
.about{
    width: 100%;
}
.about h1{
    text-align: center;
    font-size: 40px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 70px;
}
.AboutUscontent{
    padding: 0px 60px;
    margin: 60px auto;



}
.aboutUsText{
    width: 60%;
    float: left;
    text-align: left;
    padding: 0px 30px;


}
.aboutUsText h2{
    font-size: xx-large;
    font-weight: bold;
}

.image-section{
    width: 40%;
    float: right;
    padding: 0px 30px;
}
.image-section img{
    max-width: 70%;
    height: auto;

}
.aboutUsText h2{
    letter-spacing: 1.5px;


}
.aboutUsText p{
    font-size: 17px;
    margin-top: 20px;
}

#websiteTitle{
    font-family: Ral, serif;
}






/*Bilal Stuff --------------------------------------------------------------------------------------------------------------------------*/

body a {
    text-decoration: none;
}

.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 100px;
}

.card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.4s;
    color: #fff;
}

.card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    background: gold;;
}

.card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
}

.card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    /*font-size: 10px;*/
    margin-top: -80px;
    height: 40px;
}

.card:hover {
    border: 1px solid gold;
    transition: .4s;
}

.card .card_image:hover {
    opacity: 0.8;
    transition: .4s;
}



/*Serg Css -----------------------------------------------------------------------------------------------------------------------*/

.basket-page {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.BasketsPage {
    border: 1px solid grey;
    margin: 1rem;
    border-radius: 10px;
    background: linear-gradient(to right, #44AA99, #CC6677);
    width: 100%;


}

#itembackground {
    background: linear-gradient(to right, #44AA99, #CC6677);

}



.basket {
    border: 1px solid grey;
    margin: 1em;
    height: 100%;
}

.basket-item {
    margin: auto;
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.basket-itemz {
    margin: auto;
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-box {
    width: 15%;
    text-align: center;
    margin: 1em;
}

.item-image {
    width: 15%;
    text-align: left;
}

.description {
    width: 40%;
    padding-top: 1em;
}

.size {
    padding: 2em;
}

.delete-item {
    padding: 2em;
}

.container {
    display: grid;
    padding: 1em;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "left right";
}

.left {
    grid-area: left;
    border: solid 1px grey;
    padding: 2em;
    margin-right: 1em;
    border-radius: 10px;
}
.right {
    grid-area: right;
    border: solid 1px grey;
    padding: 2em;
    margin-left: 1em;
}

h4 {
    display: inline-block;
}

.checkout button {
    float: right;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    /*background-color: #a0aec0;*/
    border-radius: 10px;
}

.no-outline:focus {
    outline: none;
}


